@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0a1f0a;
  --secondary-color: #60b95de3;
  --line-height: 1.7rem;
  --transition: 0.2s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin:10px;
  padding:0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: "Roboto", sans-serf;
  background-color: rgb(220, 252, 211);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 

.logo .login{
    font-size: medium;
    font-weight: 400;
}

header{
    display: flex; 
    justify-content: space-between;
    margin-top:30px;
    
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-content:flex-start;
    position: sticky;
    top: 0;
    left:0;
    z-index:1;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    text-transform: uppercase;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.logo .login{
  text-transform: uppercase;
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

nav.navbar{
  width:800px;

}

.product{
  height:400px;
  width:25%;
  position:absolute;
  top:200px;
  left:100px;
}

.green{
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  height:643px;
  width:400px;

}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1100px;
  height: 400px;
  
}

.intro {
  
  width: 40%;
  height:300px;
  margin-top:15%;
  padding: 0;
  display:flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
}
.intro p{
  
  border: 70px;
  font-size: 13px;
  text-align:left;
  height:100px;
}
.inno{
  color: rgb(20, 68, 23);
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}
 .cosmetics{
  color:rgb(31, 102, 34);
  font-weight:500;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

.btn{
  background-color: rgb(31, 102, 34);
  display: flex;
  justify-content: center;
  text-align: center;
  height:41px;
  width:120px;
  padding: 10px 20px;
  font-size:15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor:pointer;
  margin:10px;
  color:rgb(255, 255, 255);
  transition: 0.1s;
}

.btn:hover{
  color:rgb(64, 158, 64);
}

.box{
  margin:2%;
  display: flex;
  background-color: rgb(139, 192, 128);
  justify-content: center;
  flex-direction: row;
  position:absolute;
  bottom:0px;
  right:5px;
  height:100px;
  width:450px;
  
}
.box text{
  position: relative;
  width:50px;
  color:rgb(26, 78, 15);
  display:flex;
  align-content: right;
}
.box h4{
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}
.box p{
  display: flex;
  font-size:13px;
  text-align: center;
}

.babyimg img{
  height:10vh;
  width:10vh;
  
}

.socials{
  display:flex;
  position:absolute;
  flex-direction:column;
  top:200px;
  right:0px;
  
}


    





